<div class="row" ng-init="init()">
  <h1>My list of things to do!</h1><br>

  <div open-task ng-repeat="task in activeTasks()"></div>
  <br>
  <div class="row" ng-init="addTaskHidden = true">
    <div style="margin-bottom:20px" ng-if="!addTaskHidden">
      <div class="col-sm-offset-1 col-sm-3 input-group input-group-sm">
        <input type="text" class="form-control" ng-model="newTask.description">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" ng-click="addTask()">Add</button>
        </span>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-2 btn btn-xs btn-info" ng-click="addTaskHidden = !addTaskHidden">
      {{addTaskHidden ? 'Add new task' : 'Close'}}
    </div>
  </div>

  <br>
  <div class="row" ng-init="doneTasksHidden = true">
    <div class="col-sm-offset-1 col-sm-2 btn btn-xs btn-default" ng-click="doneTasksHidden = !doneTasksHidden">
      {{doneTasksHidden ? 'View' : 'Hide'}} Completed tasks
    </div>
    
    <div style="margin-top:40px" ng-if="!doneTasksHidden">
      <div id="no-done-tasks" ng-if="doneTasks().length == 0" class="col-sm-5">
        <alert class="text-center" type="info">You better do something soon!</alert>
      </div>

      <div class="row" ng-repeat="task in doneTasks()" style="padding:5px;">
        <div class="col-sm-offset-1 col-sm-5">
          <span class="text-muted"><i><small>{{task.description}}</small></i></span>
        </div>
      </div>
    </div>
  </div>
</div>